<section *ngIf="isLoggedIn">

    <div class="background">
        <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
            <div class="p-5 bg-white shadow-lg rounded">
                <div>
                    <h2 class="fw-semibold mb-4">Selecciona una opción</h2>
                </div>
                <div class="d-flex gap-3 flex-column align-items-center justify-content-center w-100">
                    <a href="/omesa" class="btn btn-danger btn-lg w-100" routerLink="omesa" style="text-decoration: none; color: #fff;">Abrir Mesa</a>
                    <a href="/cmesa" class="btn btn-danger btn-lg w-100" routerLink="cmesa" style="text-decoration: none; color: #fff;">Cerrar Mesa</a>
                    <a *ngIf="isAdmin" href="/mactuales" class="btn btn-danger btn-lg w-100" routerLink="mactuales" style="text-decoration: none; color: #fff;">Mesas Actuales</a>
                    <a *ngIf="isAdmin" href="/addDiscount" class="btn btn-danger btn-lg w-100" routerLink="addDiscount" style="text-decoration: none; color: #fff;">Añadir Descuento</a>                
                    <a href="/inventario" class="btn btn-danger btn-lg w-100" routerLink="inventario" style="text-decoration: none; color: #fff;">Ver Inventario</a>
                </div> 
            </div>
        </div>
    </div>
</section>

<div *ngIf="!isLoggedIn" class="background d-flex justify-content-center align-items-center">
    <div class="row align-items-center justify-content-center">
        <div class="col-9">
            <div class="container p-5 shadow row rounded border bg-white">
                <div class="row justify-content-between">
                    <div class="col-5 d-flex flex-column align-items-center">
                        <h2 class="fw-bold" style="font-size: 3rem">¡Bienvenido!</h2>
                        <img src="../../assets/SVG/bartender2.svg" alt="barista" width="250" height="250" />
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center">
                        <p class="text-dark" style="font-size: 1rem">Bienvenido a BarApp, la aplicación perfecta para administrar y hacer seguimiento de los pedidos en tu bar. <br/> Con BarApp, podrás mantener un registro preciso de las bebidas y comidas que se sirven en tu bar, así como de las mesas y los clientes. Además, podrás hacer seguimiento del inventario y del personal, para asegurarte de que todo esté funcionando de manera eficiente.</p>
                        <p class="text-dark text-center fw-semibold" style="font-size: 1.2rem">Comienza iniciando sesión aquí
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                          </svg>
                        </p>
                        <a href="/login" class="btn w-100 text-white" style="background-color:#cc220b;">Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>