<section class="background d-flex justify-content-center align-items-center py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <h3 class="text-center fw-semibold" style="font-size: 2rem;">Mesas actuales</h3>
            </div>
            <div class="col-11 col-md-8 mx-auto">
                <div >
                    <div class="row row-cols-2 text-center shadow border p-3 bg-white rounded-top">
                        <div class="fw-semibold">Número</div>
                        <div class="fw-semibold">Estado</div>
                    </div>
                    <div class="mt-2 row row-cols-2 text-center shadow border p-3 bg-white rounded-bottom align-items-center">
                        <ng-container *ngFor="let item of datos">
                            <p class="text-dark">{{item.id}}</p>
                            <p class="text-dark" *ngIf="item.status">LIBRE</p>
                            <p class="text-dark" *ngIf="!item.status">OCUPADA</p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
